  <div class="card">
    <div class="card-header text-center">
      <h2>{{usuario.nome}}</h2>
    </div>
    <div class="card-body">
      <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Codigo</mat-label>
          <input formControlName="codigo" matInput placeholder="codigo" name="codigo" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input formControlName="nome" matInput placeholder="Nome" name="nome">
          <mat-error *ngIf="formNome.hasError('email') && !formNome.hasError('required')">
            Insira um Nome válido
          </mat-error>
          <mat-error *ngIf="formNome.hasError('required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>

        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput placeholder="E-mail">
          <mat-error *ngIf="formEmail.hasError('email') && !formEmail.hasError('required')">
            Insira um e-mail válido
          </mat-error>
          <mat-error *ngIf="formEmail.hasError('required')">
            E-mail é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input formControlName="senha" type="password" matInput placeholder="Senha">
          <mat-error *ngIf="formSenha.hasError('required')">
            Senha é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-secondary mt-3" (click)="salvar()">Salvar</button>

          <button type="submit" class="btn btn-secondary mt-3" (click)="cancelarEdicao()">Cancelar</button>

        </div>

      </form>
    </div>
  </div>
