<div class="card">
  <div class="card-header text-center">
    <h2>Contas a pagar</h2>
  </div>
  <div class="card-body">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td class="alinhar" mat-cell *matCellDef="let conta"> {{conta.codigo}} </td>
      </ng-container>


      <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let conta"> {{conta.titulo}} </td>
      </ng-container>

      <ng-container matColumnDef="Categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let conta"> {{conta.categoria.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let conta"> {{conta.valor}} </td>
      </ng-container>

      <ng-container matColumnDef="Data Vencimento">
        <th mat-header-cell *matHeaderCellDef> Data de Vencimento </th>
        <td mat-cell *matCellDef="let conta"> {{conta.dataVencimento | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Data Pagamento">
        <th mat-header-cell *matHeaderCellDef> Data de Pagamento </th>
        <td mat-cell *matCellDef="let conta"> {{conta.dataPagamento | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="Indicador Pagamento">
        <th mat-header-cell *matHeaderCellDef> Pago </th>
        <td mat-cell *matCellDef="let conta"> {{conta.indPago ? 'Sim' : 'Não'}} </td>
      </ng-container>

      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let conta">
          <button type="submit" class="btn btn-secondary ml-2" (click)="editarConta(conta)">Editar</button>
          <button type="submit" class="btn btn-secondary ml-2" (click)="excluirConta(conta)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>

  <a routerLink='/apagar' class="ml-3 mb-3 mt-3">
    <button mat-fab color="secundary" >
      <mat-icon>add</mat-icon>
    </button>
  </a>
</div>
