.example-form {
  min-width: 60px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


ml-2 {
  padding-left: 2.5rem;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
