<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <button class="btn btn-secundary text-white" id="menu-toggle" (click)="abrirSidebar()"><span
      class="navbar-toggler-icon"></span></button>
  <h2 class="pl-5">Gestor Financeiro</h2>

</nav>


<div class="d-flex toggled" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark text-white border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Menu</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-dark text-white" routerLink='/apagar' routerLinkActive='active-route'>Cadastrar Conta a Pagar</a>
      <a class="list-group-item list-group-item-action bg-dark text-white">Consultar Conta a Pagar</a>
      <a class="list-group-item list-group-item-action bg-dark text-white">Cadastrar Conta a Receber</a>
      <a class="list-group-item list-group-item-action bg-dark text-white">Consultar Conta a Receber</a>
      <a class="list-group-item list-group-item-action bg-dark text-white">Balanço</a>
      <a class="list-group-item list-group-item-action bg-dark text-white" routerLink='/usuario'
        routerLinkActive='active-route'>Admin Usuário</a>

      <a class="list-group-item list-group-item-action bg-dark text-white" (click)="logout()">Sair</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
