<div class="card">

  <div class="card-header">
    Listagem de categorias!
  </div>
  <div class="card-body">
    <div class="content">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="Categoria">
          <th mat-header-cell *matHeaderCellDef scope="col"> Categoria </th>
          <td class="alinhar" mat-cell *matCellDef="let categoria"> {{categoria.nome}} </td>
        </ng-container>


        <ng-container matColumnDef="Tipo">
          <th mat-header-cell *matHeaderCellDef scope="col"> Tipo </th>
          <td mat-cell *matCellDef="let categoria"> {{categoria.tipo.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="Ações">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let aluno">
            <button type="submit" class="btn btn-secondary ml-2">Editar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div>
      <a routerLink='/categoria/nova' routerLinkActive="active-route">
        <button mat-fab color="secundary">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>

  </div>



